@import "tailwindcss";


body {
  background: linear-gradient(135deg, #1A202C 0%, #2D3748 100%); /* Dark gradient */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}